# server config
server:
  port: 8081

# mysql
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sshop?useUnicode=true&characterEncoding=UTF-8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    dbcp2:
      validation-query: 'select 1'
      test-on-borrow: true
      test-while-idle: true
      time-between-eviction-runs-millis: 27800
      initial-size: 5
      min-idle: 5
      max-idle: 100
      max-wait-millis: 10000
# thymleaf
  thymeleaf:
    cache : false

# mybatis
mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true